<!DOCTYPE html>
<html lang="en">
<head>
    <title>2020Rav4大會師</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="2020Rav4大會師">
    <meta name="keywords" content="Taiwan Rav4 Club #5,新車總部,樂即食,水煮,即食,露營,聚會,懶人加熱即時料理,水煮餐盒,台中水煮餐盒,台中健康餐盒,台中少油餐盒,健身,台中餐盒,台中瘦身,台中健康吃,[台中便當推薦] 少鹽少油低GI好吃「樂即食便當」，便宜.新鮮.份量大又能滿足口慾！">
    <meta name="format-detection" content="telephone=no">
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet"> -->
    <link href="{PUBLIC_URL}css/family.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/animate.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/owl.carousel.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/owl.theme.default.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/magnific-popup.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/aos.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/ionicons.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/jquery.timepicker.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/flaticon.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/icomoon.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/style.min.css" rel="stylesheet">
</head>

<script async src="//www.youtube.com/iframe_api"></script>
<script>
    function onYouTubeIframeAPIReady() {
      var player;
      player = new YT.Player('YouTubeVideoPlayerAPI', {
        videoId: '_ni-Xqfsz0I',   // YouTube 影片ID
        width: '1080',            // 播放器寬度 (px)
        height: '720',           // 播放器高度 (px)
        playerVars: {
          autoplay: 1,            // 自動播放影片
          controls: 0,            // 顯示播放器
          showinfo: 1,            // 隱藏影片標題
          modestbranding: 1,      // 隱藏YouTube Logo
          loop: 1,                // 重覆播放
          playlist:'_ni-Xqfsz0I', // 當使用影片要重覆播放時，需再輸入YouTube 影片ID
          fs: 1,                  // 隱藏全螢幕按鈕
          cc_load_policty: 0,     // 隱藏字幕
          iv_load_policy: 3,      // 隱藏影片註解
          autohide: 1             // 影片播放時，隱藏影片控制列
        },
        events: {
          onReady: function(e) {
            //e.target.mute();      //播放時靜音
            e.target.playVideo(); //強制播放(手機才會自動播放，但僅限於Android)
          }
        }
      });
     }

    </script>
    
<body class="goto-here">
    <div class="py-1 bg-dark"></div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="{URL}"><img alt="" src="{PUBLIC_URL}images/logo.png" style="width: 40px;"></a> <button aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#ftco-nav" data-toggle="collapse" type="button"><span class="oi oi-menu"></span> Menu</button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://shopee.tw/mdgcoating" target="_blank">周邊產品</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="https://bao-ming.com/eb/www/activity_content.php?activitysn=4492" target="_blank">線上報名</a>
                    </li> -->
                    <li class="nav-item" id="Note">
                        <a class="nav-link" href="{URL}Note">注意事項</a>
                    </li>
                    <li class="nav-item" id="Note">
                      <a class="nav-link" href="{URL}Party">泡泡趴</a>
                  </li>
                    <li class="nav-item" id="Note">
                        <a class="nav-link" href="{URL}Prize">活動獎項</a>
                    </li>
                    <li class="nav-item" id="Register">
                      <a class="nav-link" href="{URL}Register">線上報名</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
