    <div class="chat">
        <ul class="list-unstyled chat-list notFold">
            <li>
                <button class="btn color-line" onclick="window.open('https://line.me/ti/g2/JYIrdWD2TuXVQLFp14xs1g?utm_source=invitation&utm_medium=link_copy&utm_campaign=default')" type="button"><img src="{PUBLIC_URL}images/line.svg"></button>
                <div>
                    LINE
                </div>
            </li>
            <li>
                <button class="btn color-fb" onclick="location.href='https://www.facebook.com/groups/2597002650567763/?ref=share'" type="button"><img src="{PUBLIC_URL}images/msger.svg"></button>
                <div>
                    Facebook
                </div>
            </li>
            <li>
                <button class="btn" onclick="location.href='https://shopee.tw/mdgcoating'" type="button"><img src="{PUBLIC_URL}images/shopee.png"></button>
                <div>
                    蝦皮
                </div>
            </li>
        </ul>
        <ul class="list-unstyled action-list">
            <li class="nextStep">
                <button class="btn btn-cart" onclick="window.open('{URL}Register')" type="button">
                <div class="text">
                    線上報名
                </div>
            </button>
            </li>
        </ul>
    </div>
    <footer class="ftco-footer ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a class="mouse-icon" href="#">
                    <div class="mouse-wheel">
                        <span class="ion-ios-arrow-up"></span>
                    </div></a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <a class="navbar-brand" href="index.html"><img alt="" src="{PUBLIC_URL}images/logo.png" style="width: 200px;"></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">主辦：<a href="https://zh-tw.facebook.com/newcar.168/" target="_blank">新車總部</a></h2>
                        <h2 class="ftco-heading-2">協辦：
                                                    <a href="https://www.facebook.com/best.jsaudio/" target="_blank">勁聲汽車音響影音科技、</a>
                                                    <a href="https://www.yuan-sin.com.tw" target="_blank">元心整合行銷</a></h2>
                        <h2 class="ftco-heading-2">贊助商</h2>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft text-center">
                            <li>
                                <a href="https://www.facebook.com/HeatingFun" target="_blank">樂&nbsp;&nbsp;&nbsp;&nbsp;即&nbsp;&nbsp;&nbsp;&nbsp;食</span></a>
                            </li>
                            <li>
                                <a href="https://www.reepolyd.com" target="_blank">R.&nbsp;&nbsp;&nbsp;&nbsp;E.&nbsp;&nbsp;&nbsp;&nbsp;E</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/TOYOS92" target="_blank">特優仕貼膜</span></a>
                            </li>
                            <li>
                                <a href="https://www.ttshop.com.tw" target="_blank">台中輪胎館TSS</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/%E5%8F%B0%E5%AE%A2%E6%B1%BD%E8%BB%8A%E5%BD%B1%E9%9F%B3%E5%B7%A5%E8%97%9D-109387340846413" target="_blank">台客汽車影音工藝</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/ix3588" target="_blank">小飛柔工作室</a>
                            </li>
                            <li>
                                <a href="https://www.mitsuda.com.tw" target="_blank">真黃金眼國際興業</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/jaywei0907" target="_blank">捷威汽車精品</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/steam.sport.racing" target="_blank">鑫盛豐</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/%E5%93%81%E5%92%8C%E4%BA%A4%E9%80%9A%E5%99%A8%E6%9D%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8-100323375026479/" target="_blank">品和交通器材</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">新茂發香鋪</a>
                            </li>
                            <!-- <li>
                                <a href="#" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;紅&nbsp;&nbsp;&nbsp;&nbsp;點</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;黑&nbsp;&nbsp;&nbsp;&nbsp;點</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;白&nbsp;&nbsp;&nbsp;&nbsp;點</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright &copy; Taiwan Ran4 Club #5 新車總部. All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{PUBLIC_URL}js/jquery.min.js"></script> 
    <script src="{PUBLIC_URL}js/jquery-migrate-3.0.1.min.js"></script> 
    <script src="{PUBLIC_URL}js/popper.min.js"></script> 
    <script src="{PUBLIC_URL}js/bootstrap.min.js"></script> 
    <script src="{PUBLIC_URL}js/jquery.easing.1.3.js"></script> 
    <script src="{PUBLIC_URL}js/jquery.waypoints.min.js"></script> 
    <script src="{PUBLIC_URL}js/jquery.stellar.min.js"></script> 
    <script src="{PUBLIC_URL}js/owl.carousel.min.js"></script> 
    <script src="{PUBLIC_URL}js/jquery.magnific-popup.min.js"></script> 
    <script src="{PUBLIC_URL}js/aos.js"></script> 
    <script src="{PUBLIC_URL}js/jquery.animateNumber.min.js"></script> 
    <script src="{PUBLIC_URL}js/bootstrap-datepicker.js"></script> 
    <script src="{PUBLIC_URL}js/bootstrap-datepicker.zh-TW.js"></script> 
    <script src="{PUBLIC_URL}js/scrollax.min.js"></script> 
    <script src="{PUBLIC_URL}js/jquery.validate.js"></script>
    <script src="{PUBLIC_URL}js/main.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){

        var klassName = location.pathname.split('/')[1];

        if( document.getElementById( klassName ) )
        {
            document.getElementById( klassName ).className += ' active';
        }
        
    });
        $(function () {
            $.fn.datepicker.defaults.format = "yyyy/mm/dd";
            $.fn.datepicker.defaults.language = "zh-TW";
        });
    </script>
</body>
</html>