    <div class="chat">
        <ul class="list-unstyled chat-list notFold">
            <!-- <li>
                <button class="btn color-line" onclick="window.open('https://line.me/ti/g2/JYIrdWD2TuXVQLFp14xs1g?utm_source=invitation&utm_medium=link_copy&utm_campaign=default')" type="button"><img src="{PUBLIC_URL}images/line.svg"></button>
                <div>
                    LINE
                </div>
            </li> -->
            <li>
                <button class="btn color-fb" onclick="location.href='https://www.facebook.com/groups/2597002650567763/?ref=share'" type="button"><img src="{PUBLIC_URL}images/msger.svg"></button>
                <div>
                    Facebook
                </div>
            </li>
            <li>
                <button class="btn" onclick="location.href='https://shopee.tw/mdgcoating'" type="button"><img src="{PUBLIC_URL}images/shopee.png"></button>
                <div>
                    新車總部
                </div>
            </li>
            <li>
                <button class="btn" onclick="location.href='https://shopee.tw/tow623?v=fb8&smtt=0.0.4'" type="button"><img src="{PUBLIC_URL}images/shopee.png"></button>
                <div>
                    品和交通
                </div>
            </li>
        </ul>
        <ul class="list-unstyled action-list">
            <li class="nextStep">
                <button class="btn btn-cart" onclick="window.open('{URL}Register')" type="button">
                <div class="text">
                    線上報名
                </div>
            </button>
            </li>
        </ul>
    </div>
    <footer class="ftco-footer ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a class="mouse-icon" href="#">
                    <div class="mouse-wheel">
                        <span class="ion-ios-arrow-up"></span>
                    </div></a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <a class="navbar-brand" href="index.html"><img alt="" src="{PUBLIC_URL}images/logo.png" style="width: 200px;"></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">主辦：<a href="https://zh-tw.facebook.com/newcar.168/" target="_blank">新車總部</a></h2>
                        <h2 class="ftco-heading-2">協辦：
                                                    <a href="https://www.facebook.com/best.jsaudio/" target="_blank">勁聲汽車音響影音科技、</a>
                                                    <a href="https://www.yuan-sin.com.tw" target="_blank">元心整合行銷、</a>
                                                    <a href="https://www.facebook.com/groups/369190363561473/?ref=share" target="_blank">5代RAV4車友俱樂部</a></h2>
                        <h2 class="ftco-heading-2">聯辦：
                                                    <a href="https://www.facebook.com/%E5%84%84%E5%BE%97%E6%8A%80%E7%A0%94-1377239742441890/" target="_blank">億得技研</a></h2>
                        <h2 class="ftco-heading-2">贊助商</h2>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft text-center">
                            <li>
                                <a href="https://www.facebook.com/HeatingFun" target="_blank">樂即食HeatingFun</span></a>
                            </li>
                            <li>
                                <a href="https://www.reepolyd.com" target="_blank">REE休閒女裝</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/TOYOS92" target="_blank">特優仕貼膜</span></a>
                            </li>
                            <li>
                                <a href="https://www.ttshop.com.tw" target="_blank">台中輪胎館TSS</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/%E5%8F%B0%E5%AE%A2%E6%B1%BD%E8%BB%8A%E5%BD%B1%E9%9F%B3%E5%B7%A5%E8%97%9D-109387340846413" target="_blank">台客汽車影音工藝</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/ix3588" target="_blank">小飛柔工作室</a>
                            </li>
                            <li>
                                <a href="https://www.mitsuda.com.tw" target="_blank">真黃金眼國際興業</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/jaywei0907" target="_blank">捷威汽車精品</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/steam.sport.racing" target="_blank">鑫盛豐</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/%E5%93%81%E5%92%8C%E4%BA%A4%E9%80%9A%E5%99%A8%E6%9D%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8-100323375026479/" target="_blank">品和交通器材</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/OROTPMS/" target="_blank">ORO TPMS</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/%E5%84%84%E5%BE%97%E6%8A%80%E7%A0%94-1377239742441890/" target="_blank">億得技研</a>
                            </li>
                            <li>
                                <a href="https://m.facebook.com/Hornsgarden/" target="_blank">牛角園食品</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/meiyuan1988/" target="_blank">梅園餡餅粥</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/vipoiluk/" target="_blank">宏仰貿易</a>
                            </li>
                            <li>
                                <a href="https://zh-tw.facebook.com/pages/category/Local-Business/%E9%87%8E%E7%BE%9A%E6%B1%BD%E8%BB%8A%E7%B2%BE%E5%93%81-911684342308055/" target="_blank">野羚汽車精品</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/KJ168168/" target="_blank">蠟妹小顏</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/s0939577792" target="_blank">薄200</a>
                            </li>
                            <li>
                                <a href="https://www.jiyao.com.tw/" target="_blank">JIYAO吉燿科技</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/SW1688/" target="_blank">SJ汽車美容用品</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/favtw/" target="_blank">FAV 飛爾美</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/groups/369190363561473/" target="_blank">5代RAV4車友俱樂部管理群</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/SmartDrivingTW" target="_blank">智乘有限公司</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/IndaCarPlay/" target="_blank">贏達汽車音響</a>
                            </li>
                            <li>
                                <a href="#">路全通國際有限公司</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/beiercar/" target="_blank">北二汽車百貨</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/JunChengCheGongFang" target="_blank">駿成車工坊</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/longten120/" target="_blank">台南隆田汽車</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/pages/category/Automotive-Parts-Store/Mrd-%E6%8D%B7%E6%98%87%E5%9C%8B%E9%9A%9B%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8-1779226205557185/" target="_blank">Mrd-捷昇國際有限公司</a>
                            </li>
                            <li>
                                <a href="https://m.facebook.com/pinan88/" target="_blank">嘉義品安豆漿豆花</a>
                            </li>
                            <li>
                                <a href="https://zh-tw.facebook.com/djw3074y/" target="_blank">宏鑫影音生活館</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/groups/369190363561473/" target="_blank">5代RAV4車友俱樂部-管理員</a>
                            </li>
                            <li>
                                <a href="#">麵醬拉麵</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/K0987789638/" target="_blank">日華自動車部品</a>
                            </li>
                            <li>
                                <a href="http://www.car-club.com.tw/" target="_blank">車際聯盟</a>
                            </li>
                            <li>
                                <a href="https://zh-tw.facebook.com/isc7746/" target="_blank">松鼠的天堂</a>
                            </li>
                            <li>
                                <a href="https://zh-tw.facebook.com/greenpoint168/" target="_blank">綠點汽車配件</a>
                            </li>
                            <li>
                                <a href="https://www.tvpay.com.tw/" target="_blank">TV Pay電視購購物商城</a>
                            </li>
                            <li>
                                <a href="https://www.love-oil.com/" target="_blank">樂油油精品車材油料</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">GAMA台灣柯美股份有限公司</a>
                            </li>
                            <li>
                                <a href="#">新茂發香鋪</a>
                            </li>
                            <!-- <li>
                                <a href="#" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;紅&nbsp;&nbsp;&nbsp;&nbsp;點</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;黑&nbsp;&nbsp;&nbsp;&nbsp;點</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;白&nbsp;&nbsp;&nbsp;&nbsp;點</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright &copy; Taiwan Ran4 Club #5 新車總部. All rights reserved - {COUNTER}</p>
                    <p>三目工作室</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{PUBLIC_URL}js/jquery.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery-migrate-3.0.1.min.js"></script>
    <script src="{PUBLIC_URL}js/popper.min.js"></script>
    <script src="{PUBLIC_URL}js/bootstrap.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery.easing.1.3.js"></script>
    <script src="{PUBLIC_URL}js/jquery.waypoints.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery.stellar.min.js"></script>
    <script src="{PUBLIC_URL}js/owl.carousel.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery.magnific-popup.min.js"></script>
    <script src="{PUBLIC_URL}js/aos.js"></script>
    <script src="{PUBLIC_URL}js/jquery.animateNumber.min.js"></script>
    <script src="{PUBLIC_URL}js/bootstrap-datepicker.js"></script>
    <script src="{PUBLIC_URL}js/bootstrap-datepicker.zh-TW.js"></script>
    <script src="{PUBLIC_URL}js/scrollax.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery.validate.js"></script>
    <script src="{PUBLIC_URL}js/main.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){

        var klassName = location.pathname.split('/')[1];

        if( document.getElementById( klassName ) )
        {
            document.getElementById( klassName ).className += ' active';
        }

    });
    $(function () {
        $.fn.datepicker.defaults.format = "yyyy/mm/dd";
        $.fn.datepicker.defaults.language = "zh-TW";
    });
    $("#activity").click(function() {
        alert("敬請期待！！");
    });
    </script>
</body>
</html>