    <section class="hero" id="home-section">
        <div class="home-slider owl-carousel">
            <div class="slider-item" style="background-image: url(../public/images/banner/1.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                        <div class="col-md-12 ftco-animate text-center">
                            <!-- <h1 class="mb-2">RAV4 &amp; Day</h1> -->
                            <h2 class="subheading mb-4"></h2>
                            <p><a class="btn btn-primary" href='{URL}Register'>報名去</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item" style="background-image: url(../public/images/banner/2.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                        <div class="col-md-12 ftco-animate text-center">
                            <!-- <h1 class="mb-2">RAV4 &amp; Day</h1> -->
                            <h2 class="subheading mb-4"></h2>
                            <p><a class="btn btn-primary" href='{URL}Register'>報名去</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div id="YouTubeVideoPlayerAPI"></div>
            </div>
        </div>
    </section>
    <!-- <section class="ftco-section ftco-category ftco-no-pt">
        <div class="container">
            <div class="row">
                <div id="YouTubeVideoPlayerAPI"></div>
            </div>
        </div>
    </section> -->

    <script>
        $msg = "";
        // $msg += "9/19 RAV4 DAY順利落幕\r";
        // $msg += "小弟與團隊在這裏由衷感謝參與這次活動的所有贊助廠商及五代RAV4 車友俱樂部管理群有您真好！\r";
        // $msg += "讓活動增色不少，更感謝大家熱情支持與贊助，然而這次活動若有承辦不足的地方也請多包涵，團隊成員們都會虛心接受與檢討\r";
        // $msg += "在此我們再一次感謝所有贊助廠商，若有機會我們下次再見～感謝有您❤️\r";
        // $msg += "綠點\r";
        // $msg += "元心整合行銷\r";
        // $msg += "輕擋車俱樂部\r";
        // $msg += "勁聲汽車音響科技影音\r";
        // $msg += "億得技研\r";
        // $msg += "台客汽車影音工藝\r";
        // $msg += "台中輪胎TTS\r";
        // $msg += "Jiyao 吉耀科技\r";
        // $msg += "贏達汽車音響\r";
        // $msg += "花軍團\r";
        // $msg += "樂油油\r";
        // $msg += "FAV飛爾美\r";
        // $msg += "昌和商行\r";
        // $msg += "劉妹牛奶泡麵\r";
        // $msg += "小飛柔工作室\r";
        // $msg += "彰化特優仕貼膜\r";
        // $msg += "美泊汽配美學\r";
        // $msg += "鑫盛豐汽車\r";
        // $msg += "真黃金眼\r";
        // $msg += "樂即食\r";
        // $msg += "傳奇今生\r";
        // $msg += "高雄捷威汽車精品\r";
        // $msg += "新車總部 汽車鍍膜配件\r";
        // $msg += "品和交通器材\r";
        // $msg += "ORO TPMS\r";
        // $msg += "牛角圓食品\r";
        // $msg += "南投梅園餡餅粥\r";
        // $msg += "宏仰貿易\r";
        // $msg += "野羚汽車精品\r";
        // $msg += "蠟妹小顏 汽車美容用品\r";
        // $msg += "SJ汽車美容用品\r";
        // $msg += "智乘有限公司\r";
        // $msg += "北二汽車百貨\r";
        // $msg += "台南隆田汽車\r";
        // $msg += "MRD-捷昇國際有限公司\r";
        // $msg += "嘉義品安豆漿豆花\r";
        // $msg += "宏鑫影音生活館\r";
        // $msg += "五代RAV4 車友俱樂部社團\r";
        // $msg += "日華自動車部品\r";
        // $msg += "車際聯盟\r";
        // $msg += "松鼠的天堂\r";
        // $msg += "TV Pay數位娛樂媒體\r";
        // $msg += "GAMA\r";
        // $msg += "PA LED\r";
        // $msg += "點子包\r";
        // $msg += "賀聯企業\r";
        // $msg += "3D卡固\r";
        // $msg += "冠得笙汽車百貨\r";
        $msg += "千呼萬喚始出來🎊讓大家久等了\r";
        $msg += "第一屆RAV4 5代 RAV4 DAY全國大會師紀念影片已完成，隔了快兩個月的時間，主辦人員與攝影團隊修修改改影片好幾次，在昨天總算達成共識👌把最完美的紀念影片呈現給各位🤝\r";
        $msg += "代表主辦單位與所有管理人員\r";
        $msg += "在此再一次由衷感謝各位車友們與協辦單位以及各廠商願意支持並參與第一屆的RAV4 5代 RAV4 DAY全國大會師。有您真好，有您才會如此完美！！\r";
        $msg += "完整影片：https://www.facebook.com/groups/2597002650567763\r";
        alert($msg);
    </script>
