<div class="hero-wrap hero-bread" style="background-image: url('{PUBLIC_URL}images/banner/1.jpg');>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread"></h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section" style="background-image: url({PUBLIC_URL}images/ai-02.png);background-repeat:no-repeat;background-position: 55% 7%;background-size:500px 500px;">
<!-- <section class="ftco-section"> -->
    <div class="container">
        <div class="row">
            <table border="0" cellpadding="3" cellspacing="0" width="100%" style="color: rgb(80, 81, 81); font-size: 12px;">
                <tbody>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>一、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>各位親愛的車友們<br />
                            2020年 5代RAV4 Taiwan Club車友俱樂部<br />RAV4 Day 全國大會師開跑囉!!</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>二、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>時間：</strong><br />
                            2020年09月19日(六) 10:00活動開始 / 16:00 活動結束</span>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>三、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>地點：</strong><a href="https://goo.gl/maps/C9GukVz8T5TXmVKG6" target="_blank" style="text-decoration-line: none; color: rgb(51, 122, 183);">https://goo.gl/maps/C9GukVz8T5TXmVKG6</a></span>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>四、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>會師地點：</strong><br />
                            台中農會休閒綜合農牧場 / 台中市外埔區二崁路700號</span>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>五、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>報名辦法：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="98%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="4%">
                                                    <span style="font-size: 16px;">(一)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">報名費用：<br />
                                                    ※此內容物僅包含線上報名</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    &nbsp;
                                                </td>
                                                <td valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="98%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="2%" style="text-align: center;">
                                                                    <span style="font-size: 16px;">1.</span>
                                                                </td>
                                                                <td align="left" valign="top">
                                                                    <span style="font-size: 16px;">車主每人『690』<br />
                                                                    / 含會師紀念品與抽獎券<br />
                                                                    / 當日保險</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="2%" style="text-align: center;">
                                                                    <span style="font-size: 16px;">2.</span>
                                                                </td>
                                                                <td align="left" valign="top">
                                                                    <span style="font-size: 16px;">眷屬成人(18歲以上)每人『690』<br />
                                                                    / 含會師紀念品與抽獎券<br />
                                                                    / 當日保險</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" width="2%" style="text-align: center;">
                                                                    <span style="font-size: 16px;">3.</span>
                                                                </td>
                                                                <td align="left" valign="top">
                                                                    <span style="font-size: 16px;">眷屬成人(18歲以上)每人『300』<br />
                                                                    / 識別證 抽獎卷<br />
                                                                    / 當日保險<br />
                                                                    以上 二擇一</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" style="text-align: center;">
                                                                    <span style="font-size: 16px;">4.</span>
                                                                </td>
                                                                <td align="left" valign="top">
                                                                    <span style="font-size: 16px;">兒童(7-17歲)每人150元<br />
                                                                    / 繪畫比賽用品<br />
                                                                    / 當日保險</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" style="text-align: center;">
                                                                    <span style="font-size: 16px;">5.</span>
                                                                </td>
                                                                <td align="left" valign="top">
                                                                    <span style="font-size: 16px;">幼童(0-6歲)無須費用<br />
                                                                    / 繪畫比賽用品<br />
                                                                    / 當日保險 由RAV4-Day 團隊負擔</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>六、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>活動內容：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <span style="font-size: 16px;">RAV4 Day 全國大會師 以車會友<br />
                                    5代RAV4 Taiwan Club車友俱樂部 RAV4 Day 全國大會師即將展開<br />
                                    今年的會師地點在【台中農會休閒綜合農牧場】舉辦<br />
                                    <br />
                                    是一所廣大腹地、風景優美、設施充足。<br />
                                    適合親子一同同樂的絕佳場所。<br />
                                    <br />
                                    今年的RAV4 Day 全國大會師<br />
                                    我們希望能夠透過車友們的參與，<br />
                                    凝聚向心力、除了以車會友之外，<br />
                                    當天我們 5代RAV4 Taiwan Club車友俱樂部<br />
                                    也準備了各項的親子活動，廠商攤位、飲食餐車。<br />
                                    讓車友參加活動之餘，也能促進親子關係，活絡家庭氣氛。</span>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>七、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>活動流程一覽：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <table border="1" class="mytable" width="70%" style="font-family: none;">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center;"><span style="font-size:16px;">09:00~10:00</span></td>
                                                <td><span style="font-size:16px;">車友集結入場 / 現場攤位活動 / 親子活動</span></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;"><span style="font-size:16px;">11:00~11:30</span></td>
                                                <td><span style="font-size:16px;">活動開場 / 現場車友票選展示車輛</span></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;"><span style="font-size:16px;">11:30~12:00</span></td>
                                                <td><span style="font-size:16px;">攤車用餐時間 / 繪畫時間</span></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;"><span style="font-size:16px;">12:00~13:00</span></td>
                                                <td><span style="font-size:16px;">第一階段精品抽獎時間</span></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;"><span style="font-size:16px;">13:00~14:00</span></td>
                                                <td><span style="font-size:16px;">親子同樂活動</span></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;"><span style="font-size:16px;">14:00~15:00</span></td>
                                                <td><span style="font-size:16px;">展示車輛最佳人氣獎 / 最終階段精品抽獎時間</span></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;"><span style="font-size:16px;">15:00~16:00</span></td>
                                                <td><span style="font-size:16px;">活動結束 / 車友散場</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>八、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>會師紀念禮 ：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="98%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="4%">
                                                    <span style="font-size: 16px;">(一)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">RAV4 Day 全國大會師獨家限量車貼</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(二)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">大會師獨家設計限量紀念T</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(三)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">大會師獨家設計限量紀念帽</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(四)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">限量鑰匙圈</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(五)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">豪華精美好禮抽獎券一張</span><br>
                                                    <span style="font-size: 16px; color: rgb(255, 0, 0); font-weight: bold;">『 當天報到憑識別證領取 』</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(六)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">精美識別證吊牌<span style="color: rgb(255, 0, 0); font-weight: bold;">『 入場識別 』</span></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span></span>
                                                </td>
                                                <td valign="top">
                                                    <span style="color: rgb(245, 157, 19);font-size: 16px;">p.s：活動當天請務必攜帶 <span style="color: rgb(255, 0, 0); font-weight: bold;">『 識別證吊牌 』</span>  以便加速入場識別跟抽獎卷領取使用。</span>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(五)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="color: rgb(255, 0, 0);"><span style="font-size: 16px;">精美識別證吊牌<br />
                                                    (也是兌獎聯，活動當天請務必攜帶，如未攜帶視同放棄兌獎資格)</span></span>
                                                </td>
                                            </tr> -->
                                            <!-- <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(六)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">RAV4 Day 全國大會師獨家車貼</span>
                                                </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>九、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>領取or寄送時間：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="98%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="4%">
                                                    <span style="font-size: 16px;">(一)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">8/20日前報名的→8/31號後可至指定地區自取會師紀念禮 或陸續收到包裹</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(二)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">8/21日-8/31日報名的→9/8號後可至指定地區自取會師紀念禮 或陸續收到包裹<br />
                                                    ※9/14日停止寄送<br />
                                                    寄送地點請填寫有正常使用之通訊地址<br />
                                                    ※如未收到或收到後有任何問題都可至活動現場服務台處理<br />
                                                    ● 自取：新車總部<br />
                                                    ● 地址：台中市西屯區福雅路271-2號</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(三)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">現 場 報 名<br />
                                                    現場報名者需要在活動場地入口處的停車場排隊<br />
                                                    等待前方車友辦理報名手續<br />
                                                    耽誤您進場休息與遊覽現場廠商攤位的時間<br />
                                                    <!-- <span style="font-size: 12px; line-height: 20px;  color: rgb(238, 51, 0);"><strong>【現場報名&quot;沒有衣服、帽子&quot;兩樣限量紀念品，以及當日保險】</strong></span><br /> -->
                                                    <span style="font-size: 16px; line-height: 20px;  color: rgb(238, 51, 0);"><strong>【現場報名&quot;沒有衣服、帽子&quot;兩樣限量紀念品】</strong></span><br />
                                                    所以建議您網路報名<br />
                                                    ※現場報名費用與網路報名費用相同</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>十、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>集 結 與 入 場 、離 場 注 意 事 項：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="98%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="4%">
                                                    <span style="font-size: 16px;">(一)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">本次活動主要行經路徑為台中大甲山區與大甲市區</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(二)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">進入會場路段請務必遵守交管人員指揮以免發生危險</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(三)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">請眾位車友務必遵守交通規則、保持行車禮儀</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(四)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">有嚴重影響自身或車友安全與活動進行者，主辦單位將與以勸離。</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" width="7%" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>十一、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>活 動 入 場 時：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <span style="font-size: 16px;">所有車輛進入現場後，聽從場內交管人員指揮。<br />
                                    入場後按照車種分類排列，請依照指揮停妥車輛。<br />
                                    <span style="color: rgb(255, 0, 0);">※入場識別為會師紀念T、精美識別證吊牌※<br />
                                    當天請穿紀念T、攜帶精美識別證吊牌，方便入場識別</span></span>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>十二、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>活 動 離 場 時：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <span style="font-size: 16px;">請依工作人員指示，按照交通路程遠近，<br />
                                    依次安靜離開現場，以免造成交通壅塞的現象。<br />
                                    請維持行車人良好形象與風度<br />
                                    活動期間請維持園區內整潔以利主辦單位善後處理。</span>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>十三、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;"><strong>寵 物 入 園 注 意 事 項：</strong></span>
                            <tr>
                                <td valign="top" style="text-align: center;">
                                    &nbsp;
                                </td>
                                <td valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="98%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="4%">
                                                    <span style="font-size: 16px;">(一)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">自行攜帶寵物飲用水、餐食及拾便袋，隨手清理並帶走寵物排泄物，維護園區內清潔。</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(二)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">為寵物施加適當防護措施（牽繩、寵物籠或推車等），任何情況下都看顧好寵物，確保寵物不影響他人。</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(三)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">寵物如有傷害他人或損壞財物，主人願負全責，與本活動無涉。</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">(四)</span>
                                                </td>
                                                <td valign="top">
                                                    <span style="font-size: 16px;">如不能遵守現場或上述規定，基於維護園區安全及環境清潔,無條件配合活動單位之要求離開園區,並不得要求退費或賠償。</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="text-align: right;">
                            <span style="font-size: 16px;"><strong>十四、</strong></span>
                        </td>
                        <td valign="top">
                            <span style="font-size: 16px;">最後<br />
                            預祝大家活動愉快、會師大成功!!</span>
                            <p style="font-size: 12px; line-height: 20px; font-weight: bold; color: rgb(238, 51, 0);">
                                <span style="font-size: 16px;">※注意※【報名繳費完成後不退費】</span><br>
                                <span style="font-size: 16px;">※注意※獎項詳細內容與規格皆以實物為準，得獎人不得要求獎項更換或轉讓。</span><br>
                                <span style="font-size: 16px;">※注意※主辦單位保有隨時修改及終止本活動之權利，如有任何變更內容或詳細注意事項將公布於本網頁，恕不另行通知。</span><br>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span style="font-size: 16px;"><strong>衣服尺寸表(成人)：</strong></span>
                            <table border="1" width="300px">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>單位 CM</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>S</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>M</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>L</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>XL</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>2L</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>3L</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>5L</strong></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>胸寬</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">46</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">50</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">53</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">56</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">60</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">64</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">72</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>衣長</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">64</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">68</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">70</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">72</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">76</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">80</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">84</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>肩寬</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">40</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">42</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">44</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">46</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">48</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">50</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">55</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>袖長</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">19</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">20</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">21</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">22</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">24</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">26</span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;">27</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span style="font-size: 16px;"><strong>衣服尺寸表(兒童)：</strong></span>
                            <table border="1" width="300px">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>單位 CM</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>100</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>110</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>120</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>130</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>140</strong></span>
                                        </td>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>150</strong></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>胸寬</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>31</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>33</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>36</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>38</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>41</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>43</strong></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>衣長</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>43</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>45</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>48</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>51</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>54</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>58</strong></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;background-color: rgb(231, 233, 252);">
                                            <span style="font-size: 16px;"><strong>適合</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>90-105</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>105-115</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>115-125</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>125-135</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>135-145</strong></span>
                                        </td>
                                        <td style="text-align: center;">
                                            <span style="font-size: 16px;"><strong>145-155</strong></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
