<div class="hero-wrap hero-bread" style="background-image: url('{PUBLIC_URL}images/banner/1.jpg');>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread"></h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg" style="background-image: url({PUBLIC_URL}images/ai-02.png);background-repeat:no-repeat;background-position: 55% 7%;background-size:500px 500px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <div class="row">
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading">注意事項</h3>
                                <p>1.主辦單位在活動網站上已經說明活動辦法以及相關的注意事項，當你決定參加抽獎活動，表示你已經閱讀過這些規定，並且同意遵守。</p>
                                <p>2.主辦單位保留更改獎品的權利，如果因為商品已經沒貨或是其它的原因導致獎品買不到時，主辦單位會用其他相同價值的獎品替代。</p>
                                <p>3.抽獎活動如果因為某些原因沒有辦法繼續進行，主辦單位可以暫停或提前結束活動，並且公告在活動網站，不會再另外通知。</p>
                            </div>
                            <!-- <div><img width="100%" src="{PUBLIC_URL}images/Prize1.jpg"></div> -->
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="https://www.facebook.com/best.jsaudio/" target="_blank">台中/勁聲汽車音響、影音科技</a></h3>
                                <p>《智承》專業DSP安卓機 一組</p>
                                <p>《Ground Zero》德國🇩🇪零點GZIF 65X</p>
                                <p>《Ground Zero》德國🇩🇪零點 GZRF 65AL 同軸兩音路喇叭 6.5吋 6.5" 二音路</p>
                                <p>《Ground Zero》德國🇩🇪零點 GZTC 165 分音兩音路喇叭 6.5吋 6.5" 二音路</p>
                                <p>《FOCAL》法國🇫🇷Auditor RCX-165 同軸兩音路同軸喇叭 6.5吋 同軸式</p>
                                <p>《FOCAL》法國🇫🇷Auditor RSE-165 6.5吋 分離式 兩音路分音喇叭</p>
                                <p>《Nakamichi》日本🇯🇵中道 NBF08A 薄型三向式重低音 8吋 80W 兩組</p>
                                <p>《DrARTEX 》RedWind 俄羅斯 風切聲殺手 氣密隔音條 車門密封條</p>
                            </div>
                            <!-- <div><img width="100%" src="{PUBLIC_URL}images/Prize1.jpg"></div> -->
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="https://www.ttshop.com.tw" target="_blank">台中輪胎館TSS</a></h3>
                                <p>炫壓輕量化鋁圈 18"ET42,8J 鈦金色 一組</p>
                                <p>炫壓輕量化鋁圈 18"ET42,8J 黑銀雙色 一組</p>
                            </div>
                            <!-- <div><img width="100%" src="{PUBLIC_URL}images/Prize2.jpg"></div> -->
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="https://www.facebook.com/%E5%8F%B0%E5%AE%A2%E6%B1%BD%E8%BB%8A%E5%BD%B1%E9%9F%B3%E5%B7%A5%E8%97%9D-109387340846413" target="_blank">台客汽車影工藝</a></h3>
                                <p>G9+高解像度前後電子後視WTG9 PLUS 兩組</p>
                                <p>金宏亞R77主機 ㄧ組</p>
                                <p>負離子車用空氣淨化機 五組</p>
                                <p>ALPINE SPC-170 兩音路同軸喇叭 十組</p>
                                <p>ALPINE SWD-2000 8英吋主動式超重低音 三組</p>
                            </div>
                            <!-- <div><img width="100%" src="{PUBLIC_URL}images/Prize3.jpg"></div> -->
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="https://www.facebook.com/ix3588" target="_blank">小飛柔工作室</a></h3>
                                <p>椅背調整器 兩組</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="https://www.facebook.com/TOYOS92" target="_blank">彰化特優仕貼膜實業有限公司</a></h3>
                                <p>桑瑪克KC系列前擋隔熱紙 兩張</p>
                                <p>美國SunTek大燈犀牛貼 兩組</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="#">美泊汽配美學</a></h3>
                                <p>TOYOTA RAV4 5代燻黑款方向流水燈 一組</p>
                                <p>TOYOTA RAV4 5代美規側踏板 一組</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="https://www.facebook.com/steam.sport.racing" target="_blank">鑫盛豐有限公司</a></h3>
                                <p>NASHIN 世盟四活塞卡鉗 一組</p>
                                <p>Triple S 短彈簧 兩組</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="#">征服者</a></h3>
                                <p>CXR-5288loT GPS 全頻電達測速器 一組</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="https://www.facebook.com/jaywei0907" target="_blank">高雄捷威汽車精品</a></h3>
                                <p>掃描者 SNJ PS3 電子後視鏡 前後錄 一組</p>
                                <p>NOVSIGHT N19 LED 黃金霧燈 五組</p>
                                <p>皮質安全帶護套 十組</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <div class="text d-block pl-md-4">
                                <h3 class="heading"><a href="https://www.facebook.com/%E5%93%81%E5%92%8C%E4%BA%A4%E9%80%9A%E5%99%A8%E6%9D%90%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8-100323375026479/" target="_blank">品和交通器材有限公司</a></h3>
                                <p>交通相關器材等 若干樣</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
