<div class="hero-wrap hero-bread" style="background-image: url('{PUBLIC_URL}images/banner/1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread"></h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section" style="background-color: paleturquoise;">
    <div class="container">
        <table border="1">
            <tbody>
                <tr><h3>活動注意事項：</h3></tr>
                <tr>
                    <td style="width: 24%;text-align: right;">活動名稱：</td>
                    <td>2020 5代RAV4 Taiwan Club車友俱樂部 RAV4 Day 全國大會師</td>
                </tr>
                <tr>
                    <td style="width: 24%;text-align: right;">活動日期：</td>
                    <td>2020年09月19日(六) 09:00活動開始 / 16:00 活動結束</td>
                </tr>
                <tr>
                    <td style="width: 24%;text-align: right;">活動地點：</td>
                    <td>台中農會休閒綜合農牧場 / 台中市外埔區二崁路700號</td>
                </tr>
                <tr>
                    <td style="width: 24%;text-align: right;">截止時間：</td>
                    <td>2020-08-31 23:59:59</td>
                </tr>
                <tr>
                    <td style="width: 24%;text-align: right;">報名優惠：</td>
                    <td>車主：『690元』含大會師紀念品與抽獎券、當日保險</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <tr>
                            <td style="width: 24%;text-align: right;">眷屬成人(18歲以上)：</td>
                            <td>『690元』含大會師紀念品與抽獎券、當日保險<br>『300元』抽獎卷、當日保險<br>二擇一</td>
                        </tr>
                    </td>
                </tr>
                <tr>
                    <td style="width: 24%;text-align: right;">小童(7歲~17歲)：</td>
                    <td>『150元』</td>
                </tr>
                <tr>
                    <td style="width: 24%;text-align: right;">幼童( 6歲以下)：</td>
                    <td><span style="color: red;">『免費報名』</span></td>
                </tr>
                <tr>
                    <td style="width: 24%;text-align: right;">寵物入園注意事項：</td>
                    <td style="color: red;">
                        <span>★自行攜帶寵物飲用水、餐食及拾便袋，隨手清理並帶走寵物排泄物，維護園區內清潔。</span><br>
                        <span>★為寵物施加適當防護措施（牽繩、寵物籠或推車等），任何情況下都看顧好寵物，確保寵物不影響他人。</span><br>
                        <span>★寵物如有傷害他人或損壞財物，主人願負全責，與本活動單位無涉。</span><br>
                        <span>★如不能遵守現場或上述規定，基於維護園區安全及環境清潔,無條件配合活動單位之要求離開園區,並不得要求退費或賠償。</span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 24%;text-align: right;">個資法說明：</td>
                    <td style="color: red;">
                        <span>※	因應個人資料保護法，當您回傳此報名表時，即視為您(或已被當事人授權)已事先閱讀並同意附件「個人資料蒐集、處理及利用告知事項」全部內容，故請您(或已被當事人授權)於同意書下方簽名方能提供後續服務。</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span style="font-size: 16px;"><strong>衣服尺寸表(成人)：</strong></span>
                        <table border="0" width="75%" style="background-color: rgb(178, 178, 245);">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong><span></span>單位 CM</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>S</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>M</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>L</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>XL</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>2L</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>3L</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>5L</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>胸寬</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">46</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">50</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">53</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">56</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">60</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">64</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">72</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>衣長</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">64</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">68</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">70</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">72</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">76</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">80</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">84</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>肩寬</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">40</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">42</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">44</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">46</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">48</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">50</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">55</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>袖長</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">19</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">20</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">21</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">22</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">24</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">26</span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;">27</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span style="font-size: 16px;"><strong>衣服尺寸表(兒童)：</strong></span>
                        <table border="0" width="75%" style="background-color: rgb(178, 178, 245);">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>單位 CM</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>100</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>110</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>120</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>130</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>140</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>150</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>胸寬</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>31</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>33</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>36</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>38</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>41</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>43</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>衣長</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>43</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>45</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>48</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>51</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>54</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>58</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle" style="background-color: rgb(231, 233, 252);">
                                        <span style="font-size: 16px;"><strong>適合</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>90-105</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>105-115</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>115-125</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>125-135</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>135-145</strong></span>
                                    </td>
                                    <td align="center" valign="middle" style="background-color: rgb(255, 255, 255);">
                                        <span style="font-size: 16px;"><strong>145-155</strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </section>
  <section class="ftco-section">
    <div class="container">
        <div style="text-align:center; margin-bottom: 15px;">
            <span style="font-size:16px;color: red;">☆已截止報名☆</span><br>
            如需參加請參考注意事項裡的現場報名規範
        </div> 
        <!-- <div style="text-align:center;overflow:hidden;-webkit-overflow-scrolling:touch;">
            <iframe  SRC="https://www.beclass.com/m/showregist.php?regist_id=MjQ0M2QxNjVmMWNhYjUzZDE2NWI6U2hvd0Zvcm0=" frameborder="0" {WIDTH} marginwidth="0" marginheight="0" name="beclassmainframe" id="beclassmainframe"></iframe >
        </div>
        <div style="text-align:center; margin-bottom: 15px;">
            <span style="font-size:16px;color: red;">☆送出報名表，請回到頁面頂端進行下一步操作☆</span>
        </div> -->
        
    </div>
    </section>
<!-- <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 ftco-animate">
                <form action="#" class="billing-form">
                    <h3 class="mb-4 billing-heading">線上報名</h3>
                    <div class="row align-items-end">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstname">姓名</label> <input class="form-control" placeholder="請輸入您的姓名" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="lastname">身份證字號</label> <input class="form-control" placeholder="請輸入您的身份證字號" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="lastname">出生日期</label>
                                <div class="col-md-12">
                                    <div class="input-group date" data-provide="datepicker">
                                        <input type="text" class="form-control">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="lastname">性別</label>
                                <div class="radio">
                                    <label class="mr-6"><input name="optradio" type="radio"> 男</label> <label><input name="optradio" type="radio"> 女</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="phone">聯絡電話(手機)</label> <input class="form-control" placeholder="請輸入您的手機號碼" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="phone">聯絡電話(市話)</label> <input class="form-control" placeholder="請輸入您的市話" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="lastname">國籍</label>
                                <div class="radio">
                                    <label class="mr-6"><input name="optradio" type="radio"> 本國(CITIZEN)</label> <label><input name="optradio" type="radio"> 外國(CITIZEN)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="lastname">領取方式</label>
                                <div class="radio">
                                    <label class="mr-6"><input name="optradio" type="radio"> 郵寄領取</label> <label><input name="optradio" type="radio"> 親自領取</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address">通訊地址</label> <input class="form-control" placeholder="請輸入您的通訊地址" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">Email</label> <input class="form-control" placeholder="請輸入您的E-mail" type="text">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="emailaddress">車牌號碼</label> <input class="form-control" placeholder="請輸入您的車牌號碼" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="emailaddress">愛車車色</label> <input class="form-control" placeholder="請輸入您的愛車車色" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="country">車輛款式</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">2.0汽油</option>
                                        <option value="">2.5汽油(AD)</option>
                                        <option value="">2.5油電(2WD)</option>
                                        <option value="">2.5油電(4wD)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="country">衣服尺寸</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">2L</option>
                                        <option value="">3L</option>
                                        <option value="">5L</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 ftco-animate">
                <form action="#" class="billing-form">
                    <h3 class="mb-4 billing-heading">眷屬報名區</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">姓名</label> <input class="form-control" placeholder="請輸入您的姓名" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">身份證字號</label> <input class="form-control" placeholder="請輸入您的身份證字號" type="text">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">性別</label>
                                <div class="radio">
                                    <label class="mr-6"><input name="optradio" type="radio"> 男</label> <label><input name="optradio" type="radio"> 女</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">國籍</label>
                                <div class="radio">
                                    <label class="mr-6"><input name="optradio" type="radio"> 本國(CITIZEN)</label> <label><input name="optradio" type="radio"> 外國(CITIZEN)</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="lastname">出生日期</label>
                                <div class="col-md-12">
                                    <div class="input-group date" data-provide="datepicker">
                                        <input type="text" class="form-control">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">聯絡電話(手機)</label> <input class="form-control" placeholder="請輸入您的手機號碼" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">聯絡電話(市話)</label> <input class="form-control" placeholder="請輸入您的市話" type="text">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">通訊地址</label> <input class="form-control" placeholder="請輸入您的通訊地址" type="text">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="emailaddress">Email</label> <input class="form-control" placeholder="請輸入您的E-mail" type="text">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">領取方式</label>
                                <div class="radio">
                                    <label class="mr-6"><input name="optradio" type="radio"> 郵寄領取</label> <label><input name="optradio" type="radio"> 親自領取</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">車牌號碼</label> <input class="form-control" placeholder="請輸入您的車牌號碼" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">愛車車色</label> <input class="form-control" placeholder="請輸入您的愛車車色" type="text">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">車輛款式</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">2.0汽油</option>
                                        <option value="">2.5汽油(AD)</option>
                                        <option value="">2.5油電(2WD)</option>
                                        <option value="">2.5油電(4wD)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">衣服尺寸</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">2L</option>
                                        <option value="">3L</option>
                                        <option value="">5L</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-6">
                <div class="row mt-5 pt-3">
                    <div class="col-md-12 d-flex mb-5 ">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4">眷屬統計</h3>
                            <div class="row align-items-end">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="firstname">姓名</label> <input class="form-control" placeholder="請輸入您的姓名" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="lastname">身份證字號</label> <input class="form-control" placeholder="請輸入您的身份證字號" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="country">尺寸</label>
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">S</option>
                                                <option value="">M</option>
                                                <option value="">L</option>
                                                <option value="">XL</option>
                                                <option value="">2L</option>
                                                <option value="">3L</option>
                                                <option value="">5L</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Payment Method</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input class="mr-2" name="optradio" type="radio"> Direct Bank Tranfer</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input class="mr-2" name="optradio" type="radio"> Check Payment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input class="mr-2" name="optradio" type="radio"> Paypal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input class="mr-2" type="checkbox" value=""> I have read and accept the terms and conditions</label>
                                    </div>
                                </div>
                            </div>
                            <p><a class="btn btn-primary py-3 px-4" href="#">Place an order</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<script type="text/javascript">
    function isEmail(strEmail) {
        if (strEmail.search(/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/)!=-1)
            return true;
        else
            alert("Email 資料錯誤？請重新輸入！");
        }
</script>