RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

# ------------------------------------------------------------------------------
# 如果是這些後綴的文件，就直接訪問文件，不進行Rewrite
# ------------------------------------------------------------------------------
RewriteCond %{REQUEST_URI} !^.*(.css|.js|.gif|.png|.jpg|.jpeg)$

# ------------------------------------------------------------------------------
# 將請求網址轉給 index.php 這支檔案，至此結束，並連同 Query String 一併傳入。
# ------------------------------------------------------------------------------
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#RewriteRule api/v1/(.*)$ api/v1/api.php?request=$1 [QSA,NC,L]

# ------------------------------------------------------------------------------
# 禁止使用者直接透過web下載
# ------------------------------------------------------------------------------
RewriteRule ^(.*)\.phar$ - [F]

# ------------------------------------------------------------------------------
# 使用當前目錄 Icon 的圖片
# ------------------------------------------------------------------------------
RewriteRule ^(.*)favicon.ico favicon.ico

# ------------------------------------------------------------------------------
# 啟用 Apache mod_expires 模組，來管理 browser 端的 cache 時間
# ------------------------------------------------------------------------------
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A0

	<FilesMatch "\.(jpg|jpeg|png|gif|swf|txt|xml|js|css|html)$">
		ExpiresDefault "access plus 7 days"
	</FilesMatch>
</IfModule>
