    <div class="hero-wrap hero-bread" style="background-image: url('{PUBLIC_URL}images/bg_1.png');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">關於。樂即時</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <div class="row">
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <a class="block-20" href="blog-single.html" style="background-image: url('{PUBLIC_URL}images/about.jpg');"></a>
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">樂即食簡介:</a></h3>
                                    <p>擁有30多年外燴經驗的總鋪師-阿南師，為了讓大家能在平時也吃得到道地的手路菜，決定把擁有30多年經驗的手路菜製成冷凍即食料理包，平常只需要存放在自家冰箱的冷凍庫中，想吃道地手路菜隨手可得。食材均採用嚴選天然無添加物的食材，料理出每一道令人垂涎的美味手路菜。</p>
                                    <p>樂即食目前有加熱即食料理、輕食餐盒、彌月油飯禮盒....等豐富多元的菜色，網上點一點、滑一滑手指，美食就能宅配到府，而且只要簡單加熱幾步驟美食就上桌囉!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <a class="block-20" href="blog-single.html" style="background-image: url('{PUBLIC_URL}images/about_1.jpg');"></a>
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">樂即食餐盒介紹:</a></h3>
                                    <p>打破對於傳統外食餐盒的油膩印象，少油、少鹽的料理方式，不只能吃得到季節食蔬的鮮甜，更保留了每款餐盒主食的美味，而且餐餐不超過百元的銅板價格，高CP值更不用自己準備食材與料理，也能輕鬆享受少油、少鹽的餐盒，讓每一口都簡單、健康又無負擔。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .col-md-8 -->
            </div>
        </div>
    </section><!-- .section -->