<div class="hero-wrap hero-bread" style="background-image: url('{PUBLIC_URL}images/bg_1.png');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">修改密碼</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate fadeInUp ftco-animated">
                <div class="cart-total mb-3">
                    <h3>修改密碼</h3>
                    <form class="info" method="post" action="{POST_URL}">
                        <div class="form-group">
                            <label for="">舊密碼</label>
                            <input type="password" name="oldpassword" class="form-control text-left px-3" placeholder="請輸入舊密碼......">
                        </div>
                        <div class="form-group">
                            <label for="country">新密碼：</label>
                            <input type="password" name="newpassword" class="form-control text-left px-3" placeholder="請輸入新密碼......">
                        </div>
                        <div class="form-group">
                            <label for="country">再次輸入新密碼：</label>
                            <input type="password" name="renewpassword" class="form-control text-left px-3" placeholder="請輸入新密碼......">
                        </div>
                    </form>
                </div>
                <p>
                    <button type="submit" class="btn btn-primary py-3 px-4 float-right">修改</button>
                </p>
            </div>
        </div>
    </div>
</section>