<!DOCTYPE html>
<html lang="en">
<head>
    <title>{TITLE}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="擁有30多年外燴經驗的總鋪師-阿南師，為了讓大家能在平時也吃得到道地的手路菜，決定把擁有30多年經驗的手路菜製成冷凍即食料理包，平常只需要存放在自家冰箱的冷凍庫中，想吃道地手路菜隨手可得。食材均採用嚴選天然無添加物的食材，料理出每一道令人垂涎的美味手路菜。">
    <meta name="keywords" content="樂即食,水煮,即食,露營,聚會,懶人加熱即時料理,水煮餐盒,台中水煮餐盒,台中健康餐盒,台中少油餐盒,健身,台中餐盒,台中瘦身,台中健康吃,[台中便當推薦] 少鹽少油低GI好吃「樂即食便當」，便宜.新鮮.份量大又能滿足口慾！">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title" content="樂即食,水煮,即食,露營,聚會,懶人加熱即時料理,水煮餐盒,台中水煮餐盒,台中健康餐盒,台中少油餐盒,健身,台中餐盒,台中瘦身,台中健康吃,[台中便當推薦] 少鹽少油低GI好吃「樂即食便當」，便宜.新鮮.份量大又能滿足口慾！">
    <meta property="og:description" content="樂即食,水煮,即食,露營,聚會,懶人加熱即時料理,水煮餐盒,台中水煮餐盒,台中健康餐盒,台中少油餐盒,健身,台中餐盒,台中瘦身,台中健康吃,[台中便當推薦] 少鹽少油低GI好吃「樂即食便當」，便宜.新鮮.份量大又能滿足口慾！">
    <meta name="twitter:title" content="樂即食,水煮,即食,露營,聚會,懶人加熱即時料理,水煮餐盒,台中水煮餐盒,台中健康餐盒,台中少油餐盒,健身,台中餐盒,台中瘦身,台中健康吃,[台中便當推薦] 少鹽少油低GI好吃「樂即食便當」，便宜.新鮮.份量大又能滿足口慾！">
    <meta name="twitter:description" content="樂即食,水煮,即食,露營,聚會,懶人加熱即時料理,水煮餐盒,台中水煮餐盒,台中健康餐盒,台中少油餐盒,健身,台中餐盒,台中瘦身,台中健康吃,[台中便當推薦] 少鹽少油低GI好吃「樂即食便當」，便宜.新鮮.份量大又能滿足口慾！">
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet"> -->
    <link href="{PUBLIC_URL}css/family.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/animate.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/owl.carousel.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/owl.theme.default.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/magnific-popup.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/aos.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/ionicons.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/jquery.timepicker.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/flaticon.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/icomoon.min.css" rel="stylesheet">
    <link href="{PUBLIC_URL}css/style.min.css" rel="stylesheet">
</head>
<body class="goto-here">
    <div class="py-1 bg-secondary">{MARQUEE}</div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="{URL}"><img alt="" src="{PUBLIC_URL}images/logo.png" style="width: 40px;"></a> <button aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#ftco-nav" data-toggle="collapse" type="button"><span class="oi oi-menu"></span> Menu</button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="About">
                        <a class="nav-link" href="{URL}About">關於、樂即時</a>
                    </li>
                    <li class="nav-item" id="LunchBox">
                        <a class="nav-link" href="{URL}LunchBox">精緻餐盒</a>
                    </li>
                    <!-- <li class="nav-item" id ="Miyue">
                        <a class="nav-link" href="{URL}Miyue">彌月禮盒</a>
                    </li> -->
                    <li class="nav-item" id="Heat">
                        <a class="nav-link" href="{URL}Heat">加熱即食包</a>
                    </li>
                    <li class="nav-item" id="Qna">
                        <a class="nav-link" href="{URL}Qna">Q & A</a>
                    </li>
                    <li class="nav-item dropdown" id="Account">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的帳號</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{URL}Account/Change_Password">修改密碼</a>
                            <a class="dropdown-item" href="{URL}Account/Order">訂單查詢</a>
                            <a class="dropdown-item" href="{URL}Login/logout">登出</a>
                        </div>
                    </li>
                    <li class="nav-item cta cta-colored" id="BuyCart">
                        <a class="nav-link" href="{URL}BuyCart"><span class="icon-shopping_cart"></span>[0]</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
