    <div class="chat">
        <ul class="list-unstyled chat-list notFold">
            <li>
                <button class="btn color-line" onclick="window.open('https://lin.ee/2f4ixdIOZ')" type="button"><img src="{PUBLIC_URL}images/line.svg"></button>
                <div>
                    LINE
                </div>
            </li>
            <li>
                <button class="btn color-fb" onclick="location.href='https://m.me/198242504066652'" type="button"><img src="{PUBLIC_URL}images/msger.svg"></button>
                <div>
                    Facebook
                </div>
            </li>
            <li>
                <button class="btn" onclick="self.location.href='mailto:heatingfun@gmail.com'" type="button"><img src="{PUBLIC_URL}images/email.svg"></button>
                <div>
                    信箱
                </div>
            </li>
            <li>
                <button class="btn phone" onclick="window.location.href = 'tel:04-22627576'" type="button"><img src="{PUBLIC_URL}images/telephone.svg"></button>
                <div>
                    電話
                </div>
            </li>
        </ul>
        <ul class="list-unstyled action-list">
            <li class="nextStep">
                <button class="btn btn-cart" onclick="location.href='{URL}BuyCart'" type="button">
                <div class="text">
                    購物車
                </div>
            </button>
            </li>
        </ul>
    </div>
    <footer class="ftco-footer ftco-section bg-secondary">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a class="mouse-icon" href="#">
                    <div class="mouse-wheel">
                        <span class="ion-ios-arrow-up"></span>
                    </div></a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <a class="navbar-brand" href="index.html"><img alt="" src="{PUBLIC_URL}images/logo.png" style="width: 200px;"></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">樂即食</h2>
                        <p>前一個工作天 16:00 前訂購</p>
                        <p>客服電話：04-22627576</p>
                        <p>( 10:00 ~ 16:00 )</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <!-- <li class="ftco-animate">
                                <a href="#" target="_blank"><span class="icon-twitter"></span></a>
                            </li> -->
                            <li class="ftco-animate">
                                <a href="https://www.facebook.com/HeatingFun" target="_blank"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="ftco-animate">
                                <a href="https://www.instagram.com/invites/contact/?i=oswzgx8yhhlq&utm_content=2ydvtsj" target="_blank"><span class="icon-instagram"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">客戶服務</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                <li>
                                    <a class="py-2 d-block" href="{URL}About">關於。樂即食</a>
                                </li>
                                <li>
                                    <a class="py-2 d-block" href="{URL}LunchBox">精緻餐盒</a>
                                </li>
                                <!-- <li>
                                    <a class="py-2 d-block" href="{URL}Miyue">彌月禮盒</a>
                                </li> -->
                                <li>
                                    <a class="py-2 d-block" href="{URL}Heat">加熱即食包</a>
                                </li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="py-2 d-block" href="{URL}Qna">Q&A</a>
                                </li>
                                <li>
                                    <a class="py-2 d-block" href="{URL}Account/Order">我的帳號</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">聯絡我們</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <!-- <li><span class="icon icon-map-marker"></span><span class="text">大里區xx路xx號</span></li>
                                <li><span class="icon icon-phone"></span><span class="text">04-22627576</span></li>
                                <li><span class="icon icon-envelope"></span><span class="text">heatingfun@gmail.com</span></li> -->
                                <!-- <li><span class="icon icon-map-marker"></span><p>大里區xx路xx號</p></li> -->
                                <li><span class="icon icon-phone"></span><p>04-22627576</p></li>
                                <li><span class="icon icon-envelope"></span><p>heatingfun@gmail.com</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright &copy; HEATING FUN Food. All rights reserved</p>
                    <p>三目工作室</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{PUBLIC_URL}js/jquery.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery-migrate-3.0.1.min.js"></script>
    <script src="{PUBLIC_URL}js/popper.min.js"></script>
    <script src="{PUBLIC_URL}js/bootstrap.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery.easing.1.3.js"></script>
    <script src="{PUBLIC_URL}js/jquery.waypoints.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery.stellar.min.js"></script>
    <script src="{PUBLIC_URL}js/owl.carousel.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery.magnific-popup.min.js"></script>
    <script src="{PUBLIC_URL}js/aos.js"></script>
    <script src="{PUBLIC_URL}js/jquery.animateNumber.min.js"></script>
    <script src="{PUBLIC_URL}js/bootstrap-datepicker.js"></script>
    <script src="{PUBLIC_URL}js/scrollax.min.js"></script>
    <script src="{PUBLIC_URL}js/jquery.validate.js"></script>
    <script src="{PUBLIC_URL}js/main.js"></script>
</body>
</html>

<script>
    $(document).ready(function(){
        var quantitiy=0;
        $('.quantity-right-plus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        });

         $('.quantity-left-minus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            if(quantity>0){
                $('#quantity').val(quantity - 1);
            }
        });

        var klassName = location.pathname.split('/')[1];

        if( document.getElementById( klassName ) )
        {
            document.getElementById( klassName ).className += ' active';
        }

    });
</script>