    <div class="hero-wrap hero-bread" style="background-image: url('{PUBLIC_URL}images/bg_1.png');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">{NAME}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                {LIST}
            </div>
        </div>
    </section>

    <script>
        function BuyCar()
        {
            var
                id = $("input[name='id']").val();
                title = $("input[name='title']").val();
                quantity = $("input[name='quantity']").val();
                money = document.getElementById("money").innerText;
                money = money.replace("$","");
                keyName = "cart" + id;
                cart = JSON.parse(localStorage.getItem(keyName));
                if( cart )
                {
                    sum = parseInt(quantity)+parseInt(cart.quantity)
                    bat = {id: id, title: title, quantity: sum, money:money};
                }
                else
                {
                    bat = {id: id, title: title, quantity: parseInt( quantity ), money:money};
                }
                batString = JSON.stringify(bat);
                localStorage.setItem("cart"+id, batString);
                alert( "商品已加入購物車！！" );
                getLocalStorageData();
        }
    </script>


