    <div class="hero-wrap hero-bread" style="background-image: url('{PUBLIC_URL}images/bg_1.png');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">Q & A</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <div class="row">
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">1.請問料理包每一分約幾人份呢?</a></h3>
                                    <p>我們每一份加熱即食料理包約為1-2人份</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">2.請問料理包的保存期限為何?</a></h3>
                                    <p><span class="text-danger">★</span>冷凍保存一個月的餐點為:</p>
                                    <p>古早味油飯/香菇雞湯/麻油雞湯/恏時豚骨湯(麵)/宮保雞丁</p>
                                    <p>魚皮海鮮羹/古早味芋粿/蜜汁全雞/紹興醉蝦/椒鹽毛豆</p>
                                    <p><span class="text-danger">★</span>冷凍保存14天的餐點為: 古早味爌肉/蜜汁排骨</p>
                                    <p><span class="text-danger">★</span>常溫保存一個月，開封後需冷藏: 辣味小魚乾</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">3.我應該如何購買料理包呢?</a></h3>
                                    <p>購買加熱即食料理包可直接於官網或撥打訂購熱線:04-2262-7576及LINE@等方式購買</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">4.餐盒供應的時間是?</a></h3>
                                    <p>輕時餐盒的供應時間為每周一至周五</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">5.我要如何預定餐盒呢?</a></h3>
                                    <p>預定輕食餐盒可撥打訂購熱線:04-2262-7576或利用LINE@等方式</p>
                                    <p>於前一天下午四點前預訂</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">6.每天都有供應餐盒全部的主餐嗎?</a></h3>
                                    <p>輕食餐盒主餐為每日固定三款主廚精選主餐提供選擇</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">7.請問餐盒服務的地區有哪些呢?</a></h3>
                                    <p>目前我們輕食餐盒服務的地區為台中市(滿10盒即可配送)</p>
                                    <p>（北、中、南、東、西區，南屯、西屯、北屯，大里、太平）</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">8.輕食餐盒有實體店面可以前往購買嗎?</a></h3>
                                    <p>目前我們輕食餐盒只提供配送服務,或者您可以至自取地點領取餐盒:</p>
                                    <p>自取點一:麵匠拉麵 (台中市北區錦平北街33號04-2206-1037)</p>
                                    <p>自取點二:衣博士洗衣連鎖-黎明店(台中市南屯區黎明路二段75號04-2381-3023)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex ftco-animate">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a href="#">9.請問付款方式有哪些呢?</a></h3>
                                    <p>自取或預定滿10盒,可於配送時付款或者自取餐盒時付款</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>