        <div id="content">
            <div class="container">
                <div class="crumbs">
                    <ul class="breadcrumb" id="breadcrumbs">
                        <li>
                            <i class="icon-home"></i> <a href="{URL}">首頁</a>
                        </li>
                        <li class="current">
                            <a href="{URL}Fudong" title="">輪播圖管理</a>
                        </li>
                    </ul>
                </div>
                <div class="row row-bg">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget box">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i> 輪播圖管理 - 上傳</h4>
                                <div class="toolbar no-padding">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content">
                                <form class="form-horizontal row-border" method="post" action="{UPD_URL}" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">圖片：</label>
                                        <div class="col-md-10"><input type="file" name="pictures" /></div>
                                    </div>
                                    <div class="form-actions">
                                        {HIDDEN_ID}
                                        <button type="submit" class="btn btn-primary pull-right">上傳</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
