        <div id="content">
            <div class="container">
                <div class="crumbs">
                    <ul class="breadcrumb" id="breadcrumbs">
                        <li>
                            <i class="icon-home"></i> <a href="{URL}">首頁</a>
                        </li>
                        <li class="current">
                            <a href="{URL}About" title="">全域設定</a>
                        </li>
                    </ul>
                </div>
                <div class="row row-bg">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget box">
                            <div class="widget-header">
                                <h4><i class="icon-reorder"></i> 全域設定</h4>
                            </div>
                            <div class="widget-content">
                                <div class="table-responsive">
                                    <form class="form-horizontal row-border validate" action="{POST_URL}" method="post">
                                        <table class="table table-hover table-striped table-bordered table-highlight-head table-condensed" style="text-align:center;">
                                            <tbody>
                                                <tr>
                                                    <td>免運金額設定
                                                        <a href="javascript:;" class="bs-tooltip" data-original-title="到達此金額即可免運費">
                                                            <i class="icon-question-sign"></i>
                                                        </a>
                                                    </td>
                                                    <td align="center">
                                                        <input class="form-control" type="text" name="shipping_free" value="{SHIPPING_FREE}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>運費設定
                                                        <a href="javascript:;" class="bs-tooltip" data-original-title="運費設定">
                                                            <i class="icon-question-sign"></i>
                                                        </a>
                                                    </td>
                                                    <td align="center">
                                                        <input class="form-control" type="text" name="shipping" value="{SHIPPING}" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-actions">
                                                    <input type="submit" value="保存" class="btn btn-primary pull-right">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>